DATABASE_URL=
URL_BACKEND=
URL_FRONTEND=
PORT=
JWT_SECRET=
JWT_EXPIRES_IN=
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRES_IN=
PUBLIC_KEY=
ACCESS_TOKEN=
ClientId=
ClientSecret=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
AWS_S3_BUCKET_NAME=

#ASAAS
ASAAS_API_KEY=
ASAAS_BASE_URL=
ASAAS_WEBHOOK_TOKEN=